################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Morse Tutor/bin/Debug/Morse Tutor.vshost.exe.manifest
